<div class="container">
  <div class="row">
    <p class="title">Lista de Productos</p>
  </div>
  <div class="row">
    <div class="container-table">
      <div class="container-add">
        <button (click)="createProduct()" class="new-btn">
          Agregar producto
        </button>
      </div>
      <table class="table" id="product">
        <thead>
          <tr class="header">
            <th>Id</th>
            <th>Producto</th>
            <th>Valor</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of listProducts">
            <td>{{ producto.IdProduct }}</td>
            <td>{{ producto.NameProduct }}</td>
            <td>{{ producto.UnitPrice }}</td>
            <td>
              <div class="edit-btn">
                <p>
                  <span (click)="editProduct(producto.IdProduct)">Editar</span>
                </p>
              </div>
              <div class="delete-btn">
                <p>
                  <span (click)="deleteProduct(producto.IdProduct)"
                    >Eliminar</span
                  >
                </p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container-form">
    <div class="col-12">
      <div *ngIf="showNewProduct">
        <form (ngSubmit)="saveChanges()">
          <h2 class="title">{{ titleProduct }}</h2>
          <table class="table-form">
            <thead>
              <tr class="header-form">
                <th>Id</th>
                <th>Nombre</th>
                <th>Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr >
                <td>
                  <input
                    type="text"
                    name="IdProduct"
                    [(ngModel)]="newProduct.IdProduct"
                    readonly
                  />
                </td>
                <td>
                  <input
                    type="text"
                    name="productName"
                    [(ngModel)]="newProduct.NameProduct"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    name="value"
                    [(ngModel)]="newProduct.UnitPrice"
                  />
                </td>
              </tr>
            </tbody>
          </table>
          <div class="container-save"><button type="submit" class="save-btn">Guardar</button></div>
        </form>
      </div>
    </div>
  </div>
</div>
